langchain
langchain-community
langchain-openai
langchain-chroma
langchain-huggingface
langgraph
python-dotenv
requests
chromadb
sentence-transformers
fastapi
uvicorn
sqlalchemy==2.0.23
greenlet==3.1.1
asyncpg==0.29.0
psycopg2-binary==2.9.9
celery==5.3.6
redis==5.0.1
tenacity==8.2.3
boto3==1.34.0
